parameters:
	level: 5
	paths:
		- src
		- tests
	exceptions:
		checkedExceptionClasses:
			- 'Throwable'
		uncheckedExceptionRegexes:
			- '#^PHPUnit\\.*$#'
			- '#^SebastianBergmann\\.*$#'
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		implicitThrows: false
